<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Enrich+</span>
      </a>

      <ul class="nav nav-pills">
        <li  [routerLink]="['/home']" class="nav-item">Home</li>
        <li  [routerLink]="['/students']" class="nav-item">Students</li>
        <li  [routerLink]="['/research']" class="nav-item">Research</li>
      </ul>
    </header>
</div>