@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 100%;
    }
}

.container{
    header{
        a{
            span{
                padding: 0rem 1rem 0rem 1rem;
            }
            .goldsmith_logo{
                width:10rem;
            }
            .enrich_logo{
                width: 16rem;
                margin: 1rem 0rem 0rem 0rem;
            }
        }
ul{
    .nav-item{
        margin: 8px 8px;
    }
}
    }
}