<div class="container">
    <div class="definition">
        <div class="hero-section">
            <div class="d-flex min-vh-100" lc-helper="background" style="
            background: url(assets/images/home.jpg) center / cover no-repeat;
            background-color: #444;
            background-blend-mode: none;
          ">
                <div class="align-self-center text-center text-light col-md-8 offset-md-2">
                    <div class="lc-block mb-4">
                        <div editable="rich">
                            <div class="display-6 fw">
                                <div class="lines" style="color: black;">
                                    <div><strong>E</strong>motive Analytics<br /></div>
                                    <div><strong>N</strong>atural Language Processing<br /></div>
                                    <div><strong>R</strong>esearch in AI<br /></div>
                                    <div><strong>I</strong>ntelligent Computing<br /></div>
                                    <div><strong>C</strong>ommunity Health<br /></div>
                                    <div><strong>H</strong>ealthcare Technologies<br /></div>
                                    + Advanced Analytics
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="compartment">
        <div class="intro_card">

            <div class="card123">
                <div class="card1" href="#">
                    <p><strong>ENRICH+ Research Lab: AI that Transforms, NLP that Empowers</strong></p>
                    <p class="small" style="text-align: right">
                        "The future of innovation lies in the synergy of data, intelligence,
                        and empathy. At ENRICH+, we aim to push the boundaries of what's
                        possible with AI."
                    </p>
                    <p style="text-align: right">
                        <i>– Dr. Akshi Kumar, Research Lead, Enrich+</i>
                    </p>
                    <!-- <div class="go-corner" href="#">
       <div class="go-arrow">
         →
       </div>
     </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="explain">
        <p> At ENRICH+, the “+” represents our commitment to going beyond the conventional—fusing advanced AI with deep
            insights to enrich lives. Our lab, led by Dr. Akshi Kumar, stands at the forefront of AI and Natural
            Language Processing (NLP) research, driving change across industries. From analyzing social media sentiment
            and detecting fake news, to understanding emotions, personality traits, and sensational content, we
            transform data into understanding and solutions.
            Our groundbreaking work also extends to healthcare and community well-being, where NLP and predictive
            modelling are revolutionizing biomedical research, life sciences, and precision health. By unlocking the
            power of complex data, we’re not just enriching knowledge—we're creating actionable insights that foster a
            smarter, healthier world.
            Join us at ENRICH+ and be part of a future where AI drives real-world impact, turning innovation into
            empowerment.
        </p>

    </div>
</div>