<div class="container">
  <div class="hero-section">
    <div
      class="d-flex min-vh-100"
      lc-helper="background"
      style="
        background: url(assets/images/research.png) center / cover no-repeat;
        background-color: #444;
        background-blend-mode: overlay;
      "
    >
      <div
        class="align-self-center text-center text-light col-md-8 offset-md-2"
      >
        <div class="lc-block mb-4">
          <div editable="rich">
            <h1 class="display-1 fw-bolder">Research Projects</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">

  

    <p><strong>Funded Research Project: </strong>Hirers, India(Hirers.co.in)</p>
    <p><strong>Duration:</strong> August 2023- August 2024</p>
    <p><strong>Project Title:</strong></p>
    <p>&ldquo;NLP-Driven Optimization for Blue-Collar Job Matching: Research and Implementation&rdquo;</p>
    <p><strong>Project Overview:</strong></p>
    <p>The project focused on integrating <strong>Natural Language Processing (NLP)</strong> and <strong>Artificial Intelligence (AI)</strong> technologies to enhance blue-collar job matching efficiency. The main aim was to analyze vast job descriptions and candidate profiles, using NLP to automate and optimize the matching process. The research addressed:</p>
    <ul>
    <li>Analyzing unstructured job postings and resumes using NLP techniques.</li>
    <li>Developing and refining <strong>NLP-based algorithms</strong> for intelligent job-candidate matching.</li>
    <li>Improving the <strong>semantic understanding</strong> of job descriptions and applicant profiles through <strong>aspect-based sentiment analysis</strong> and <strong>intent detection</strong>.</li>
    </ul>
    <p><strong>Key Contributions:</strong></p>
    <ul>
    <li>Conducted research on applying <strong>NLP</strong> to extract insights from job listings and candidate applications.</li>
    <li>Provided consultancy for the design and implementation of <strong>NLP models</strong> that improved the accuracy and speed of job matching.</li>
    <li>Contributed to enhancing the platform&rsquo;s ability to interpret user inputs, leading to the development of <strong>customized job recommendations</strong> and better communication tools.</li>
    <li>Delivered reports on integrating <strong>fine-grained sentiment analysis</strong> and <strong>emotion detection</strong> to optimize user engagement on the Hirers.co.in platform.</li>
    </ul>

  </div>
</div>
