<div class="container">
  <div class="hero-section">
    <div
      class="d-flex min-vh-100"
      lc-helper="background"
      style="
        background: url(assets/images/research.png) center / cover no-repeat;
        background-color: #444;
        background-blend-mode: overlay;
      "
    >
      <div
        class="align-self-center text-center text-light col-md-8 offset-md-2"
      >
        <div class="lc-block mb-4">
          <div editable="rich">
            <h1 class="display-1 fw-bolder">Research Projects</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">

  

    Funded Research Project: Hirers, India (Hirers.co.in)

    Duration: August 2023- August 2024
    
    Project Title:
    “NLP-Driven Optimization for Blue-Collar Job Matching: Research and Implementation”
    ________________________________________
    Project Overview:
    The project focused on integrating Natural Language Processing (NLP) and Artificial Intelligence (AI) technologies to enhance blue-collar job matching efficiency. The main aim was to analyze vast job descriptions and candidate profiles, using NLP to automate and optimize the matching process. The research addressed:
    •	Analyzing unstructured job postings and resumes using NLP techniques.
    •	Developing and refining NLP-based algorithms for intelligent job-candidate matching.
    •	Improving the semantic understanding of job descriptions and applicant profiles through aspect-based sentiment analysis and intent detection.
    
    Key Contributions:
    •	Conducted research on applying NLP to extract insights from job listings and candidate applications.
    •	Provided consultancy for the design and implementation of NLP models that improved the accuracy and speed of job matching.
    •	Contributed to enhancing the platform’s ability to interpret user inputs, leading to the development of customized job recommendations and better communication tools.
    •	Delivered reports on integrating fine-grained sentiment analysis and emotion detection to optimize user engagement on the Hirers.co.in platform.
    
    

  </div>
</div>
